<h1>Lehigh Valley Group Rides</h1>
<h2>Welcome, cyclists!</h2>
<br/>
<p>Find out about rides other cyclist in the valley have planned.</p>
<br/>
<p>Are interested in posting your own rides and connecting with fellow cyclists? <a href="/signup">Sign Up</a> for an LV Group Rides account.</p><br/>
