<%if flash[:error]%>
<%flash[:error].each do |error|%>
    <%=error%><br/>
<%end%>
<%end%>

<h1>Create a New Ride</h1>
<form method="POST" action="/rides">
    <label for="name">Ride Name:</label>
    <input type="text" name="name"/><br/>
    <br/>
    <label for="date">Date of Ride (mm/dd/yyyy):</label>
    <input type="date" name="date"/><br/>
    <br/>
    <label for="starting_time">Start Time (HH:MM AM/PM):</label>
    <input type="text" name="starting_time"/><br/>
    <br/>
    <label for="starting_location">Starting Location/Meet Up:</label>
    <input type="text" name="starting_location"/><br/>
    <br/>
    <label for="distance">Approximate Distance (mileage):</label>
    <input type="text" name="distance"/><br/>
    <br/>
    <label for="level">Level (beginner, intermediate, advanced):</label>
    <input type="text" name="level"/><br/>
    <br/>
    <label for="description">Ride Description:</label>
    <textarea name="description"></textarea><br/>
    <br/>
    <input type="submit" value="Create Ride"/>
</form>